/*
 * @Description: 样式文件
 * @Author: travelclover(travelclover@163.com)
 * @Date: 2019-12-25 16:21:54
 */

.wraper {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.container {
  width: 100%;
  height: 100%;
}
